*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: ifr ifr 1rf;
    gap: 18px;
  }
  h1 {
    text-align: center;
  }
  .contain{
    display: flex;
  }
  article {
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
  }